<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Customer website
            {% endblock title %}
        </title>
        {% block stylesheets %}
            {# Bootstrap #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
        </header>
        <div id="wrap">
            <div class="container">
                {% block content %}
					{% include "CdoSiteBundle::navbar.html.twig" %}
					{% block heading %}
					{% endblock heading %}
                    {% block innercontent %}
                    {% endblock innercontent %}
                {% endblock content %}
            </div><!-- /.container -->
        </div><!-- /#wrap -->
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock javascripts %}
    </body>
</html>
