{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('cdo_user_user_changepassword_changepassword', {'subdomain': app.session.get('subdomain')}) }}" {{ form_enctype(form) }} method="POST" class="cdo_user_user_changepassword_changepassword">
  {{ form_start(form) }}
    <div class="form-group control-label">
      <div class="col-sm-3 text-right">
      {{ form_label(form.current_password) }}
      </div><!-- /.col-sm-3 -->
      <div class="col-sm-9"">
      {{ form_widget(form.current_password) }}
      {{ form_errors(form.current_password) }}
      </div><!-- /.col-sm-9 -->
    </div><!-- /.form-group control-label -->
    <div class="form-group control-label">
      <div class="col-sm-3 text-right">
      {{ form_label(form.plainPassword['first']) }}
      </div><!-- /.col-sm-3 -->
      <div class="col-sm-9"">
      {{ form_widget(form.plainPassword['first']) }}
      {{ form_errors(form.plainPassword['first']) }}
      </div><!-- /.col-sm-9 -->
    </div><!-- /.form-group control-label -->
    <div class="form-group control-label">
      <div class="col-sm-3 text-right">
      {{ form_label(form.plainPassword['second']) }}
      </div><!-- /.col-sm-3 -->
      <div class="col-sm-9"">
      {{ form_widget(form.plainPassword['second']) }}
      {{ form_errors(form.plainPassword['second']) }}
      </div><!-- /.col-sm-9 -->
    </div><!-- /.form-group control-label -->
    <div class="form-group">
      <div class="text-center">
        <input type="submit" class="btn btn-primary btn-lg" value="{{ 'change_password.submit'|trans }}" />
      </div><!-- /.text-center -->
    </div><!-- /.form-group -->
  {{ form_end(form) }}
</form>
